:root {
  --color-primary: hsl(171, 66%, 44%);
  --color-secondary: hsl(233, 100%, 69%);
  --neutral-dark: hsl(210, 10%, 33%);
  --neutral-light: hsl(201, 11%, 66%);
  --white: hsl(0, 0%, 80%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Bai Jamjuree', sans-serif;
  color: var(--neutral-light);
  font-size: 1.8rem;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.header {
  text-align: center;
  background: linear-gradient(transparent 75%, rgba(255, 255, 255, 1) 100%),
    url(/images/bg-header-desktop.png);
  height: 30rem;
  background-size: cover;

  &__logo {
    margin-top: 13rem;
    height: 12rem;
  }
}

.hero {
  margin: 0 auto;
  text-align: center;
  max-width: 70ch;
  margin-bottom: 14.8rem;

  &__text {
    margin-bottom: 4.4rem;
    font-size: 2.4rem;
  }

  &__buttons {
    display: inline-flex;
    gap: 1.6rem;
  }
}

.sections-header {
  text-align: center;
  margin: 0 auto;
  max-width: 70ch;
  margin-bottom: 6.2rem;

  &__heading {
    font-size: 4.4rem;
    color: var(--neutral-dark);
    font-weight: 600;
    margin-bottom: 2rem;
  }

  &__text {
    font-size: 2.1rem;
  }
}

.features {
  &__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__img {
    margin-left: -20rem;
    height: 62rem;
  }

  &__list {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 4.4rem;
    list-style: none;
    max-width: 32ch;
    margin-left: 9.8rem;
  }

  &__heading {
    color: var(--neutral-dark);
    font-size: 3rem;
    margin-bottom: 1.6rem;
  }

  &__detail {
  }
}

.btn {
  font-size: 2.4rem;
  padding: 1.4rem 3.6rem;
  border: none;
  border-radius: 100px;

  &--primary {
    color: #fff;
    background-color: var(--color-primary);
  }

  &--secondary {
    color: #fff;
    background-color: var(--color-secondary);
  }
}

.heading-primary {
  margin-bottom: 2rem;
  color: var(--neutral-dark);
  font-size: 5.2rem;
  font-weight: 600;
}
